@use "sass:map"
$theme-colors: ("first": black, "second": white, "thrid":#f5f5f5ee)
@mixin text
    color: map-get($theme-colors, "second")
    font-family: Kumbh Sans

body
    background: map-get($theme-colors, "first")

.Header
    @include text
    font-size: 5vw
    text-align: justify
    font-stretch: condensed
    margin-top: -5vw

.parent-box
    width: 80vw
    padding: 7vw
    height: 20vw
    margin: auto
    background: map-get($theme-colors, "first")
    border: 1px solid white
    display: flex

.content-box
    margin: auto
    width: 15vw
    height: 20vw
    background: map-get($theme-colors, "second")
    border-radius: 5px

.info-text
    @include text
    font-size: 4vw
    font-stretch: condensed
    margin-top: 5vw
